@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-roboto-mono: 'Roboto Mono', monospace;
  --font-inter: 'Inter', sans-serif;

  --color-light-bg: #f9f9f7;
  --color-light-text: #f4f4f5;

  --color-dark-bg: #18181b;
  --color-dark-text: #000000;

  --color-placeholder: #9f9fa9;
}

@custom-variant dark (&:where(.dark, .dark *));
